

/*Styles from previous portfolio*/

.jumbotron {
  background-image: url("../src/Assets/jumbotron.png");
  background-size: cover;
  height: 400px;
  
}

body {
  background: blue;

  font-size: larger;
}

/* .jumbotron {
  padding-top: 20%;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */



.full-height {
  height: 100%;
}



.portfolioBtns {
  justify-content: space-around;
}

.bg-color {
  background-color: #b7b8bbe3;
}

.navbarright {
  justify-content: flex-end;
}

.roundCorners {
  border-radius: 10%;
  height: 100%;
}

.imgRound {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.changeFont {
  font-family: "Roboto Condensed", sans-serif;
}

.jumboFont {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

/*Psuedo Code for social links */

.fab:hover {
  transform: scale(1.1);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  height: 3%;
  text-align: center;
  
}

.newText {
  color: black;
}

.skillText {
  color: black;
  font-size: xx-large;
}

/* Nav bar CSS
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 7;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}



/* Page content */
.content {
  padding: 16px;
}



